<div class="user-p-right-tab-052017">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <!-- user profile  engagement  time line -->
        <header class="widget-main-header">
            <div class="d-header-wrp">
                <h3>
                   Search Filters
                </h3>
            </div>

            <div class="d-header-wrp d-h-r-icon" ng-click="isNavRealTime = !isNavRealTime">
                <i ng-if="!isNavRealTime" class="ti-arrow-circle-up"></i>
                <i ng-if="isNavRealTime" class="ti-arrow-circle-down"></i>
            </div>
        </header>
        <div class="row" uib-collapse="isNavRealTime">
            <div class="inbox-sort-option">

                <div class="row">
                    <div class="col-md-4">
                        <small>Start Date: </small>
                        <input type="text" class="form-control" ng-model="obj.startDay" name="startDate" ng-change="onDateChange()" datepicker>
                    </div>
                    <div class="col-md-4">
                        <small>End Date: </small>
                        <input type="text" class="form-control" ng-model="obj.endDay" name="EndDate" ng-change="onDateChange()" datepicker>
                    </div>
                    <div class="col-md-4">
                        <small>Direction : </small>
                        <select ng-model="data.directionVal"
                                class="form-control selected-short ">
                            <option value="Inbound">Inbound</option>
                            <option value="Outbound">Outbound</option>
                            <option value=""></option>

                        </select>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small>Channels : </small>
                        <tags-input ng-model="filterChannels" display-property="title"
                                    add-on-paste="true"
                                    add-from-autocomplete-only="false" on-tag-added="onChipAddSection($tag)"
                                    on-tag-removed="onChipDeleteSection($tag)" ng-disabled="" min-length="1"
                                    placeholder="Select Channels">
                            <auto-complete source="querySearchSection($query)"
                                           load-on-empty="true"
                                           load-on-focus="true"
                                           min-length="1"></auto-complete>

                        </tags-input>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>From: </small>
                        <input type="text" class="form-control" ng-model="data.fromData" name="From" >
                    </div>
                    <div class="col-md-6">
                        <small>To : </small>
                        <input type="text" class="form-control" ng-model="data.toData" name="To" >
                    </div>

                </div>

                <div class="row" style="padding-top: 10px">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-ps-update pull-right" ng-click="loadSessions()">Search</button>
                    </div>
                </div>



            </div>
        </div>

        <div>
            <div class="user-p-e-tl-wrapper-052017">

                <div slimscroll="{height: '930px',
                        railVisible: true,
                        color: '#EEEEEE',
                        size: '8px',
                        distance: '15px',
                        railColor: '#EEEEEE',
                        railBorderRadius: 10}">
                    <!--<timeline>
                        <timeline-event ng-repeat="eng in engagementsList" side="left">
                            <timeline-badge class="e-t-l-badge-052017 {{eng.channel}}">
                                <img ng-src="assets/img/timeline/{{eng.channel}}.png" style="position: absolute;left: -14px;top: -13px;width: 50px"/>
                            </timeline-badge>
                            <timeline-panel ng-class="{'outbound-panel-right':eng.direction=='outbound'}">
                                <div class="e-t-l-wrapper-052017 left">
                                    <div class="e-t-l-header-052017">
                                        <ul class="customer-style-ul">
                                            <li class="from-to-052017">From</li>
                                            <li class="value">{{eng.channel_from}}</li>
                                        </ul>
                                        <ul class="customer-style-ul row-fluid">
                                            <li class="from-to-052017">To</li>
                                            <li class="value">{{eng.channel_to}}</li>
                                        </ul>
                                    </div>

                                    <div class="e-t-l-direction-052017">
                                        <ul class="customer-style-ul">
                                            <li class="direction-icon-052017">
                                                <div class="e-t-l-d-icon-052017">
                                                    &lt;!&ndash;<i ng-class="{'fa fa-random':eng.channel=='api',&ndash;&gt;
                                                    &lt;!&ndash;'fa fa-twitter':eng.channel=='twitter',&ndash;&gt;
                                                    &lt;!&ndash;'fa fa-facebook':eng.channel=='facebook-post',&ndash;&gt;
                                                    &lt;!&ndash;'main-icon-2-telephone-3':eng.channel=='call',&ndash;&gt;
                                                    &lt;!&ndash;'fa fa-skype':eng.channel=='skype',&ndash;&gt;
                                                    &lt;!&ndash;'fa fa-bell-o':eng.channel=='sms',&ndash;&gt;
                                                    &lt;!&ndash;'fa fa-envelope-o':eng.channel=='email'}"></i>&ndash;&gt;

                                                    <img ng-if="eng.channel=='facebook'"
                                                         src="assets/img/timeline/fb.png"
                                                         width="80"/>
                                                    <img ng-if="eng.channel=='skype'"
                                                         src="assets/img/timeline/skype.png"
                                                         width="80"/>
                                                    <img ng-if="eng.channel=='call'"
                                                         src="assets/img/timeline/outbound-call.png"
                                                         width="80"/>
                                                    <img ng-if="eng.channel=='twitter'"
                                                         src="assets/img/timeline/outbound-call.png"
                                                         width="80"/>
                                                    <img ng-if="eng.channel=='api'"
                                                         src="assets/img/timeline/api.png"
                                                         width="80"/>
                                                </div>
                                            </li>
                                            <li>
                                                <ul class="customer-style-ul">
                                                    <li>
                                                        <div class="e-t-l-channel-d-052017">
                                                            direction : {{eng.direction}}
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="e-t-l-channel-d-052017 channel {{eng.channel}}">
                                                            {{eng.channel}}
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="e-t-l-channel-d-052017">
                                                            <time-ago from-time='{{eng.created_at}}'
                                                                      format='MM/dd/yyyy'></time-ago>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    &lt;!&ndash; engagement time line direction description &ndash;&gt;
                                    <div class="e-t-l-d-desc-052017">
                                        <div class="e-t-d-d-wrapper-052017">
                                            {{eng.body}}
                                        </div>
                                    </div>

                                    &lt;!&ndash; engagement tim line more details &ndash;&gt;
                                    <div class="e-t-l-more-052017"
                                         ng-if="eng.notes.length!=0">
                                        <div class="e-t-l-m-wrapper-052017"
                                             ng-repeat="note in eng.notes">
                                            <div class="e-t-l-m-auth-052017">
                                                author | {{note.author}}
                                            </div>
                                            <div class="e-t-m-details-052017">
                                                {{note.body}}
                                            </div>
                                            <div ng-if="note.tid"
                                                 class="e-t-m-details-052017">
                                                <button type="button" class="btn btn-m-p-more pull-right"
                                                        ng-click="getTicketByRefe(note.tid);">
                                                    more
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </timeline-panel>
                        </timeline-event>-->

                    <div ng-repeat="eng in engagementsList" >
                        <div class="e-t-l-wrapper-052017 left">
                            <div class="e-t-l-header-052017">
                                <ul class="customer-style-ul">
                                    <li class="from-to-052017">From</li>
                                    <li class="value" style="padding-right: 10px">{{eng.channel_from}}</li>
                                    <li class="from-to-052017">To</li>
                                    <li class="value">{{eng.channel_to}}</li>
                                </ul>
                                <ul class="customer-style-ul row-fluid">

                                </ul>
                            </div>

                            <div class="e-t-l-direction-052017">
                                <ul class="customer-style-ul">
                                    <li class="direction-icon-052017">
                                        <div class="e-t-l-d-icon-052017">
                                            <!--<i ng-class="{'fa fa-random':eng.channel=='api',-->
                                            <!--'fa fa-twitter':eng.channel=='twitter',-->
                                            <!--'fa fa-facebook':eng.channel=='facebook-post',-->
                                            <!--'main-icon-2-telephone-3':eng.channel=='call',-->
                                            <!--'fa fa-skype':eng.channel=='skype',-->
                                            <!--'fa fa-bell-o':eng.channel=='sms',-->
                                            <!--'fa fa-envelope-o':eng.channel=='email'}"></i>-->

                                            <img ng-if="eng.channel=='facebook'"
                                                 src="assets/img/timeline/fb.png"
                                                 width="80"/>
                                            <img ng-if="eng.channel=='skype'"
                                                 src="assets/img/timeline/skype.png"
                                                 width="80"/>
                                            <img ng-if="eng.channel=='call'"
                                                 src="assets/img/timeline/outbound-call.png"
                                                 width="80"/>
                                            <img ng-if="eng.channel=='twitter'"
                                                 src="assets/img/timeline/outbound-call.png"
                                                 width="80"/>
                                            <img ng-if="eng.channel=='api'"
                                                 src="assets/img/timeline/api.png"
                                                 width="80"/>
                                        </div>
                                    </li>
                                    <li>
                                        <ul class="customer-style-ul">
                                            <li>
                                                <div class="e-t-l-channel-d-052017">
                                                    direction : {{eng.direction}}
                                                </div>
                                            </li>
                                            <li>
                                                <div class="e-t-l-channel-d-052017 channel {{eng.channel}}">
                                                    {{eng.channel}}
                                                </div>
                                            </li>
                                            <li ng-if="eng.channel=='call'">
                                                <a style="margin-left: 10px" href="javascript:void(0);"><i
                                                        class="fa fa-play"
                                                        ng-click="playFile(eng._id)"></i></a>

                                            </li>
                                            <li>
                                                <div class="e-t-l-channel-d-052017">
                                                    <time-ago from-time='{{eng.created_at}}'
                                                              format='MM/dd/yyyy'></time-ago>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <!-- engagement time line direction description -->
                            <div class="e-t-l-d-desc-052017">
                                <div class="e-t-d-d-wrapper-052017">
                                    {{eng.body}}
                                </div>
                            </div>

                            <!-- engagement tim line more details -->
                            <div class="e-t-l-more-052017"
                                 ng-if="eng.notes.length!=0">
                                <div class="e-t-l-m-wrapper-052017"
                                     ng-repeat="note in eng.notes">
                                    <div class="e-t-l-m-auth-052017">
                                        author | {{note.author}}
                                    </div>
                                    <div class="e-t-m-details-052017">
                                        {{note.body}}
                                    </div>
                                    <div ng-if="note.tid"
                                         class="e-t-m-details-052017">
                                        <button type="button" class="btn btn-m-p-more pull-right"
                                                ng-click="getTicketByRefe(note.tid);">
                                            more
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="more-ticket-wrapper-052017" ng-if="engagementsList.length!=0">
                <div class="more-record-052017" ng-click="showMore();">
                    <button ng-show="!isShowTimeLine" class="btn btn-more-data">
                        VIEW MORE
                    </button>
                    <button ng-show="isShowTimeLine" disabled class="btn btn-more-data">
                        PLEASE WAIT...
                    </button>
                </div>
            </div>

            <a href="" id="image-viewer" data-lightbox="image-1" data-title=""></a>

        </div>

    </div>
</div>